<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Reset Password </title>
</head>
<body>
    <main>
        <div id="resetPassword-div" class="modal" style="display: block;">
            <div class="modal-content" >
                <span class="close">&times;</span>
                <form class="form" id="resetPassword-form" action="/user/resetpassword" method="POST">
                    <p class="title"> Reset Password </p>
                    <p class="message">Enter new Password </p>     
                    <label for="newPassword">
                        <input id="resetnewPassword" required="" placeholder="" type="password" class="input">
                        <span>Password</span>
                    </label>
                    <label for="resetconfirmPassword">
                        <input  id="resetconfirmPassword" required="" placeholder="" type="password" class="input">
                        <span>Confirm password</span>
                    </label>
                    <button id="resetPassword-Btn" class="submit" type="submit"> Submit </button>
                </form>
            </div>
        </div>
    </main>
    <script src="/resetPassword.js"></script>
</body>
</html>